{% extends 'base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <h1>{{ movie.title }}</h1>
            <p><strong>Director:</strong> {{ movie.director }}</p>
            <p><strong>Actors:</strong> {{ movie.actors }}</p>
            <p><strong>Genre:</strong> {{ movie.genre }}</p>
            <hr>
            <p>{{ movie.description }}</p>
            <a href="{{ url_for('home') }}" class="btn btn-primary">Back to Home</a>
        </div>
    </div>
</div>
{% endblock %}